{% extends 'base.html' %}

{% block title %}Главная - Прогноз погоды{% endblock %}


{% block content %}
<h1 class="title-page">Прогноз погоды</h1>
<form id="weather-form" class="form" action="{{ url_for('weather') }}" method="post">
    <input type="text" id="city-input" name="city" placeholder="Город">
    <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
    <button class="button form__button" type="submit">Узнать</button>
</form>

{% if last_city %}
    <div class="check-again">
        <p>Вы недавно искали погоду в городе <strong>{{ last_city }}</strong>. 
        <button class="button button__check-again" type="button" onclick="resubmitForm('{{ last_city }}')">Посмотреть снова</button></p>
    </div>
{% endif %}
{% endblock %}Ы
